*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.container>div{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
}
h1{
    font-size: 40px;
}
p{
    padding: 10px;
    font-size: 20px;
}
img{
    width: 100%;
    border-radius: 1rem;
}
button{
    padding: 10px 10px;
    border-radius: 2rem;
    border: none;
    font-size: 16px;
    color: blue;
}
button:hover{
    color: rgb(34, 192, 19);
    border: 1px solid;
}

@media (width>600px) {
    .container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (width>1024px) {
    .container{
        grid-template-columns: repeat(3,1fr);
    }
}