*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}
.container{
    width: 90%;
    background-color: yellow;
    margin: auto;
    border: 2px dotted;
}
.container>div{
    width: 80%;
    height: 200px;
    border: 2px solid;
    background-color: aliceblue;
    margin: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 20px;
}
.container>div img{
    background-color: blue;
    width: 40%;
    height: 100px;
    border: 2px dotted;
}
.container>div>h1{
    border: 2px dotted;
    flex-direction: column;
}

  