*{
    max-width: 1800px;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
}
.container{
    width: 90%;
    background-color: yellow;
    margin: auto;
    border: 3px dotted;
}
.container>div{
    width: 90%;
    border: 2px solid;
    background-color: #f0f8ff;
    margin: auto;
    display: flex;
    justify-content:center;
    margin-bottom: 20px;
}
img{
    width: 200px;
    height: 200px;
    border: 1px dotted;
    background-color: blue;
}
h1{
    font-size: 30px;
    border: 2px dotted;
    margin-bottom: 10px;
}
p{
    border: 1px dotted;
    margin-bottom: 10px;
    font-size: 20px;
}
a{
    font-size: 20px;
}
@media (width<1024px) and (width>=850px) {
    .container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}