*{
    margin: auto;
    padding: 0;
    background-color: rgb(76, 174, 206);
    padding-top: 9%;
}
div.container{
    padding: 20px 20px;
    border-radius: 2rem;
    width: 85%;
    background-color:black;
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12,1fr);
}
div.container>div{
    width: 60px;
    height: 30px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(49, 53, 57);
    border-radius: 1rem;
    color: rgb(76, 174, 206);
}
#space{
    grid-column: auto/span 4;
    width: 360px;
}
#enter{
    grid-column: auto/span 2;
    width: 160px;
}
#shift{
    grid-column: auto/span 2;
    width: 160px;
}