* {
    margin: 0;
    padding: 0;
}
h1{
    /* to center the heading */
    display: flex;
    justify-content: center;
}
.container {
    /* added display flex and some other adjustments to center the child boxes */
    display: block;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.box {
    /* changed position to relative,removed negative margin and moved the box contents to the center */
    width: 100px;
    height: 100px;
    background: lightblue;
    border: 1px solid black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    /* added display flex and changed the position to sticky, so it can stick at the same place and removed some non essentials. */
    display: flex;
    position: sticky;
    justify-content: space-evenly;
}
