* {
    margin: 0;
    padding: 0;
}
h1{
    display: flex;
    justify-content: center;
}
.container {
    display: block;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.box {
    width: 100px;
    height: 100px;
    background: lightblue;
    border: 1px solid black;
    margin: -10px;
    position: relative;
}

.text {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-evenly;
}
